[Unit]
Description=RRD Cache Daemon for signalk-sensor-log

[Service]
EnvironmentFile=/root/.signalk/node_modules/signalk-sensor-log/systemd/service.conf
Restart=always
ExecStartPre=-/usr/sbin/useradd -r ${RRD_USER}
ExecStartPre=-/usr/sbin/usermod -s /bin/false ${RRD_USER}
ExecStartPre=/bin/mkdir -p ${RRDCACHED_WORKING_DIRECTORY}
ExecStartPre=/bin/chown ${RRD_USER}:${RRD_GROUP} ${RRDCACHED_WORKING_DIRECTORY}
ExecStart=/usr/bin/rrdcached -g -s ${RRD_USER} -m 664 -U ${RRD_USER} -G ${RRD_GROUP} -b ${RRDCACHED_WORKING_DIRECTORY} -l unix:${RRDCACHED_WORKING_DIRECTORY}/${RRDCACHED_SOCKET} -p ${RRDCACHED_WORKING_DIRECTORY}/${RRDCACHED_PID}
ExecStopPost=/bin/rm ${RRDCACHED_WORKING_DIRECTORY}/${RRDCACHED_SOCKET} ${RRDCACHED_WORKING_DIRECTORY}/${RRDCACHED_PID}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
